html,
body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}

body {
  background: #c9718d;
  color: #aaa;
  font-size: 18px;
  line-height: 1.4;
  font-family: "Inconsolata", sans-serif;
}

* {
  box-sizing: border-box;
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.touch #video-container {
  background: url(http://xtianmiller.com/dist/videos/winter_creek.jpg) no-repeat center;
  background-size: cover;
}

video {
  width: 100%;
  height: 100%;
}
.touch video {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 6%;
  padding-right: 6%;
  display: table;
}
.overlay__inner {
  width: 100%;
  height: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.overlay__logo {
  text-align: center;
}
.overlay__logo svg {
  width: 220px;
}
.overlay h2 {
  max-width: 40em;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  font-family: "Raleway", sans-serif;
  line-height: 1.3;
  margin: 0 auto;
}
.overlay p {
  padding-top: 1em;
  max-width: 40em;
  margin: 0 auto;
}
.overlay a.btn {
  display: inline-block;
  margin-top: 25px;
  border: 1px solid #00c1bb;
  color: #00c1bb;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}
.overlay a.btn span {
  display: inline-block;
  padding: 6px 40px;
  transition: transform 0.4s;
}
.overlay a.btn .row2 {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
}
.overlay a.btn:hover .row1 {
  transform: translateY(-100%);
}
.overlay a.btn:hover .row2 {
  transform: translateY(0);
}
